﻿/* BORDER RADIUS MIXIN
-------------------------------------------------------------------------------*/

@mixin radius($radius: 2px, $bgClip: true) {
    border-radius: rem-calc($radius);
    @if($bgClip) {
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
    }
}