.container {
  max-width: 1400px;
  padding: 0 32px;
  margin: 0 auto;
  height: 100%;
  box-sizing: content-box;

  @include media($br_laptop) {
  }

  @include media($br_medium) {
    max-width: 1100px;
  }
}
