.counter {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 32px;
  right: 32px;
  width: 622px;
  height: 164px;
  padding: 15px 40px 10px;
  background: #f4f4f5;
  box-shadow: 0px 4px 5px rgba(35, 0, 11, 0.14),
    0px 2px 4px rgba(35, 0, 11, 0.2);
  border-radius: 16px;
  @include z-index(counter);

  @include media($br_medium) {
    width: 375px;
    height: 110px;
    right: 20px;
  }

  @include media($br_pad) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100vw;
    top: calc(100vh - 110px);
    right: 0;
    margin: 0 auto;
  }

  &__time {
    flex: 1;
    width: 100%;
    display: flex;
  }

  &__header {
    font-size: 24px;
    color: get-color(qatar, 1100);
    text-shadow: 0px 1px 1px rgba(35, 0, 11, 0.14),
      0px 1px 3px rgba(74, 2, 24, 0.2);

    @include media($br_medium) {
      font-size: 18px;
    }

    &--before {
      color: inherit;
      font-weight: 400;
    }
    &--text {
      color: inherit;
      font-weight: 700;
    }
  }
}
