.header {
  position: relative;
  height: 92px;
  background: linear-gradient(270deg, #8a1638 62.97%, #751330 95.37%);
  @include z-index(header);

  @include media($br_small) {
    height: 79px;
  }

  & > * {
    position: relative;
  }

  &::after {
    @include pseudo;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/pattern.png");
    background-repeat: no-repeat;
    background-position: calc(50vw - 270px) 0;
    mix-blend-mode: screen;

    @include media($br_small) {
      display: none;
    }
  }
}
