.logo {
  &__container {
    position: relative;
    display: flex;
    align-items: flex-start;

    @include media($br_small) {
      height: 100%;
      justify-content: center;
      align-items: center;
    }
  }

  &--icon {
    position: relative;

    @include media($br_small) {
      height: 56px;
      width: 28px;
    }
  }

  &__background {
    position: absolute;
    width: 152px;
    height: 264px;
    bottom: -50px;
    left: -20px;
    mix-blend-mode: screen;
    @include media($br_small) {
      display: none;
    }

    &::before {
      @include pseudo;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-image: url("../assets/sparkles.png");
      background-repeat: no-repeat;
    }

    &::after {
      @include pseudo;
      width: 115px;
      height: 115px;
      bottom: 120px;
      left: 10px;
      background: get-color(qatar, 400);
      opacity: 0.45;
      filter: blur(64px);
    }
  }

  &--text {
    margin-top: 25px;
    margin-left: 35px;

    @include media($br_small) {
      width: 168px;
      height: 38px;
      margin: 0;
    }
  }
}
