.message {
  position: absolute;
  width: auto;
  max-width: 590px;
  bottom: 130px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.16px;
  font-feature-settings: "pnum" on, "lnum" on;
  @include z-index(message);

  @include media($br_laptop) {
    margin: 0;
    margin-left: 90px;
  }

  @include media($br_pad) {
    max-width: 350px;
    margin-left: 32px;
    bottom: 152px;
    font-size: 14px;
    line-height: 22px;
  }

  @include media($br_small) {
    margin: 0 20px;
  }

  @include media($br_pad, "landscape") {
    display: none;
  }

  &__container {
    height: calc(100vh - 152px);

    @include media($br_laptop) {
      height: calc(100vh - 202px);
    }
  }

  &::before {
    @include pseudo;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #e21d48;
  }
}
