.stats {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 126px;

  &__container {
    position: relative;
    height: 60px;
    background: get-color(qatar, 1400);
    box-shadow: 0px 1px 1px rgba(35, 0, 11, 0.14),
      0px 1px 3px rgba(74, 2, 24, 0.2);
    @include z-index(stats);

    @include media($br_laptop) {
      height: 110px;
    }
  }

  @include media($br_small) {
    margin-left: 20px;
  }
}

.stat {
  position: relative;
  padding-left: 37px;
  margin-right: 48px;

  @include media($br_laptop) {
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  @include media($br_medium) {
    padding-left: 21px;
  }

  @include media($br_small) {
    padding-left: 10px;
  }

  &__container {
    display: flex;
    align-items: center;
    height: 100%;

    @include media($br_laptop) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &::before {
    @include pseudo;
    top: 5px;
    left: 0;
    width: 32px;
    height: 1px;
    background-color: rgba($color__white, 0.8);

    @include media($br_medium) {
      width: 16px;
      top: 17px;
    }

    @include media($br_small) {
      display: none;
    }

    @include media($br_laptop) {
      top: 17px;
    }
  }

  &__title {
    color: get-color(qatar, 500);
    font-weight: 500;
    font-size: 10px;
    line-height: 1.3;
    letter-spacing: 0.75px;
    text-transform: uppercase;

    @include media($br_small) {
      font-size: 8px;
    }
  }
  &__value {
    position: relative;
    color: $color__fonts;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.5px;

    @include media($br_small) {
      font-size: 14px;
    }
  }
}

.flag {
  &::after {
    @include pseudo;
    top: 6px;
    right: -20px;
    width: 18px;
    height: 12px;
    background-image: url("../assets/fra.png");
    background-size: cover;
    border: 1px solid $color__white;

    @include media($br_small) {
      width: 16px;
      height: 11px;
      top: 3px;
      right: -16px;
    }
  }
}
