%timerText {
  color: get-color(qatar, 1100);
  font-weight: 700;
  font-size: 72px;
  letter-spacing: 0.16px;
  line-height: 1;
  text-shadow: 0px 1px 1px rgba(35, 0, 11, 0.14),
    0px 1px 3px rgba(74, 2, 24, 0.2);

  @include media($br_medium) {
    font-size: 44px;
  }
}

.time {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  &::after {
    @include pseudo($content: ":");
    @extend %timerText;
    right: -10px;
  }

  &:last-of-type {
    &::after {
      display: none;
    }
  }

  &__number {
    @extend %timerText;
  }

  &__description {
    color: get-color(qatar, 700);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.32px;
    line-height: 1;
    text-transform: uppercase;
    margin-top: -3px;

    @include media($br_medium) {
      font-size: 10px;
      margin-top: -2px;
    }
  }
}
