.home {
  position: relative;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  @include z-index(background);
  
  &::before {
    @include pseudo;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    mix-blend-mode: multiply;
    opacity: 0.5;
  }
  &::after {
    @include pseudo;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    mix-blend-mode: multiply;
    opacity: 0.3;
    transform: rotate(180deg);
  }
}
