@function get-color($color, $variant: false) {
    $colorName: $color;
    $colorVariant: $variant;

    @if map-has-key($colors, $color) {
        $color: map-get($colors, $color);
    } @else {
        @error "Color '#{$colorName}' not found!";
    }

    @if $variant {
        @if map-has-key($color, $variant) {
            @return map-get($color, $variant);
        } @else {
            @error "Color '#{$colorName}' with variant '#{$colorVariant}' not found!";
        }
    } @else {
        @if type-of($color) != color {
            @error "Color '#{$colorName}' requires selecting a variant!";
        } @else {
            @return $color;
        }
    }
}
