<template>
  <div class="home">
    <Header :data="data[0]" />
    <Message
      msg="This will be one of the best shows of all time, exceptional and outstanding matches that will delight the whole audience."
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Header from "@/components/Header.vue";
import Message from "@/components/Message.vue";
import { IData } from "@/models";

@Component({
  components: {
    Header,
    Message,
  },
})
export default class Home extends Vue {
  data: IData[] = [
    {
      tournamentStart: "",
      tournamentEnd: "",
      teams: 0,
      stadiums: 0,
      lastWinner: "",
    },
  ];

  created() {
    this.getData();
  }

  private async getData() {
    await fetch("data.json")
      .then(response => response.json())
      .then(data => (this.data = data))
      .then(() => console.log(this.data));
  }
}
</script>
