﻿@import "../functions/get-color";

$colors: (
  black: (
    900: #000,
  ),
  white: #fff,
  qatar: (
    50: #fff1f1,
    100: #fee4e5,
    200: #fecdd3,
    300: #fea4ae,
    400: #fb7286,
    500: #f43f5e,
    600: #e21d48,
    700: #be113c,
    800: #9f133a,
    900: #8a1638,
    1000: #751330,
    1100: #630e2b,
    1200: #4a0218,
    1300: #390114,
    1400: #23000b,
  ),
  gray: (
    100: #f9faf9,
    200: #f4f4f4,
    300: #d8d8d8,
    350: #eee,
    400: #aaa,
    500: #5d5d5d,
    700: #4a4a4a,
    800: #3b3939,
    900: #262626,
  ),
);

$color__gray: get-color(gray, 500);
$color__black: get-color(black, 900);
$color__white: get-color(white);

$color__primary: get-color(qatar, 900);
$color__secondary: get-color(gray, 350);

$color__fonts: get-color(white);
