<template>
  <div class="counter">
    <div class="counter__time">
      <div class="time">
        <div class="time__number">{{ years }}</div>
        <div class="time__description">years</div>
      </div>
      <div class="time">
        <div class="time__number">{{ months }}</div>
        <div class="time__description">months</div>
      </div>
      <div class="time">
        <div class="time__number">{{ days }}</div>
        <div class="time__description">days</div>
      </div>
      <div class="time">
        <div class="time__number">{{ hours }}</div>
        <div class="time__description">hours</div>
      </div>
    </div>
    <div class="counter__header">
      <span class="counter__header--before">until&nbsp;</span>
      <span class="counter__header--text">FIFA World Cup Qatar 2022</span>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

enum ValueType {
  years = "years",
  months = "months",
  days = "days",
  hours = "hours",
}

@Component
export default class Counter extends Vue {
  @Prop() private date!: string;

  get years() {
    return String(this.calcValues(ValueType.years)).padStart(2, "0");
  }

  get months() {
    return String(this.calcValues(ValueType.months)).padStart(2, "0");
  }

  get days() {
    return String(this.calcValues(ValueType.days)).padStart(2, "0");
  }

  get hours() {
    return String(this.calcValues(ValueType.hours)).padStart(2, "0");
  }

  private calcValues(type: ValueType) {
    const diff = Math.floor(
      new Date(this.date).getTime() - new Date().getTime()
    );

    switch (type) {
      case ValueType.years:
        return Math.floor(diff / (1000 * 60 * 60 * 24 * 30 * 12));

      case ValueType.months:
        return Math.floor(
          (diff % (1000 * 60 * 60 * 24 * 30 * 12)) / (1000 * 60 * 60 * 24 * 31)
        );

      case ValueType.days:
        return Math.floor(
          (diff % (1000 * 60 * 60 * 24 * 30)) / (1000 * 60 * 60 * 24)
        );

      case ValueType.hours:
        return Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    }
  }
}
</script>
