<template>
  <div class="header__container">
    <div class="header">
      <div class="container">
        <div class="logo__container">
          <div class="logo__container--icon">
            <img
              alt="Qatar 2020 logo"
              class="logo--icon"
              src="../assets/logo.svg"
            />
            <div class="logo__background" />
          </div>
          <img
            alt="Qatar 2020 logo"
            class="logo--text"
            src="../assets/fifa.svg"
          />
        </div>
        <Counter :date="data.tournamentStart" />
      </div>
    </div>
    <Stats
      :teams="data.teams"
      :winner="data.lastWinner"
      :stadiums="data.stadiums"
      :start="data.tournamentStart"
      :end="data.tournamentEnd"
    />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import Counter from "@/components/Counter.vue";
import Stats from "@/components/Stats.vue";
import { IData } from "@/models";

@Component({
  components: {
    Counter,
    Stats,
  },
})
export default class Header extends Vue {
  @Prop() private data!: IData;
}
</script>
