<template>
  <div class="container message__container">
    <div class="message">
      <span>{{ msg }}</span>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Message extends Vue {
  @Prop() private msg!: string;
}
</script>
