<template>
  <div class="stats__container">
    <div class="container">
      <div class="stats">
        <div class="stat__container">
          <div class="stat">
            <div class="stat__title">Schedule 2022</div>
            <div class="stat__value">{{ period }}</div>
          </div>
          <div class="stat">
            <div class="stat__title">Teams</div>
            <div class="stat__value">{{ teams }}</div>
          </div>
        </div>
        <div class="stat__container">
          <div class="stat">
            <div class="stat__title">Stadiums</div>
            <div class="stat__value">{{ stadiums }}</div>
          </div>
          <div class="stat">
            <div class="stat__title">2018 winner</div>
            <div class="stat__value flag">{{ winnerCountry }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { format } from "date-fns";

@Component
export default class Stats extends Vue {
  @Prop() private stadiums!: number;
  @Prop() private teams!: number;
  @Prop() private start!: string;
  @Prop() private end!: string;
  @Prop() private winner!: string;

  get winnerCountry() {
    return this.winner.charAt(0).toUpperCase() + this.winner.slice(1);
  }
  get period() {
    const dateFormat = "dd MMM";
    const formattedStart = this.start
      ? format(Date.parse(this.start), dateFormat)
      : "";
    const formattedEnd = this.end
      ? format(Date.parse(this.end), dateFormat)
      : "";

    return `${formattedStart} \u2014 ${formattedEnd}`;
  }
}
</script>
