* {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color__fonts;

  &:focus {
    outline: none;
  }
}

h1 {
  font-weight: 500;
}
